<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <coverage/>
  <testsuites>
    <testsuite name="integration">
      <directory suffix=".phpt">tests/integration/</directory>
    </testsuite>
    <testsuite name="unit">
      <directory>tests/unit/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src/</directory>
    </include>
  </source>
</phpunit>
